html {
  scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;

}

text{
  color: white;

}

.centerIntro{
  float:left;
  width: 25%;
  position: relative;
  padding-top: 12%;
  padding-left: 15%;
}

.logo{
    top: 0%;
    padding-top: 0%;
    height: 20%;
    width: 20%;
    position: absolute;
  }

#intro{

    padding-left: 15%;
    padding-top: 12%;
    position: relative;
    font-family: romantisch;
    font-size: 5em;
    float: left;
    animation: type 10s steps(300);
    overflow: hidden;
    white-space: nowrap;
    width: 16ch;


}

.anass{
  position: relative;
  padding-left: 40%;
  padding-top: 10%;
  height: 60%;
  width: 60%;
 
}

.aboutPic{
  position: relative;
  padding-left: 10%;
  padding-top: 10%;
  width: 50%;
  float: left;
  padding-bottom: 5%;
}

.aboutMe{
  font-family: champ;
  padding-right: 15%;
  width: 25%;
  height: 50%;
  position: relative;
  float: right;
  padding-top: 15%;
  font-size: 1.5em;
  padding-bottom: 5%;
}

.skills{
  padding-top: 10%;

  position: relative;
  font-family: champ;
  font-size: 2em;
  text-align: left;
  padding-left: 5%;


}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2%;

    font-family: champ;
    position: relative;
}
.space{
  position: relative;
}

.grid{
  font-size: 30px;
  padding-bottom: 100px;
  position: relative;
}

.selfie{
  font-family: champ;
  font-size: 2em;
  text-align: left;
  padding-left: 5%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Sprint 0 */

.intro0{

  padding-left: 30%;
  padding-top: 8%;
  position: relative;
  font-family: romantisch;
  font-size: 5.5em;

  animation: type 5s steps(300);
  overflow: hidden;
  white-space: nowrap;
  width: 22ch;
}

.vak0{
  font-family: champ;
  padding-top: 25%;
  padding-left: 30%;
  position: relative;
}

.sco0{

  font-family: champ;
  font-size: 2em;

  padding-left: 25%;
  text-align: center;
  width: 50%;
  height: 50%;
  position: relative;


}

.about{

  padding-left: 39%;
 
  width: 60%;
  position: relative;

  text-align: center;
  font-size: 2em;
  font-family: champ;
}

.scoPic01{
  float: left;
  padding-left: 5%;
  width: 60%;
  height: 40%;
  position: relative;
}

.peter{


  width: 45%;
  position: relative;
  padding-left: 1%;
  text-align: center;
  font-size: 2em;
  font-family: champ;
}

.scoPic02{
  float: right;
  padding-left: 35%;
  width: 60%;
  height: 40%;
  position: relative;
}

.journey{

  padding-left: 49%;

  width: 50%;
  position: relative;

  text-align: center;
  font-size: 2em;
  font-family: champ;
}

.scoPic03{
  float: left;
  padding-left: 1%;
  width: 45%;
  height: 30%;
  position: relative;
}

.fotografie{

  font-family: champ;
  font-size: 2em;
  text-align: center;

  padding-left: 25%;
  width:30%; 

  position: relative;
}

.uex{
 
  font-family: champ;
  font-size: 2em;

  width: 50%;
  text-align: center;
  padding-left: 25% ;

  position: relative;
}

.interview{

  font-family: champ;
  font-size: 2em;
padding-left: 25%;
  text-align: left;
  position: relative;
  width: 50%;
}

.task{
  font-family: champ;
  font-size: 2em;
  width: 50%;

  padding-left: 25%;
  text-align: left;
  position: relative;
}


.button{
  font-family: champ;
  font-size: 2vh;
  font-style: bold;
  border: 3px solid white;
  height: 50px;
  width: 250px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1:hover{
  background-color: black;
  color:white;

}
.button1{
  color: black;
}

/* einde Sprint 0 */




/* Sprint 1 */
.sco1{

  font-family: champ;
  font-size: 2em;
  padding-top: 10%;
  padding-left: 25%;
  text-align: center;
  width: 50%;
  height: 50%;
  position: relative;


}

.valueText{

  font-family: champ;
  font-size: 2em;
  padding-top: 0%;
  padding-left: 50%;
  text-align: center;
  width: 50%;
  height: 50%;


}
.analyse{
  color: white;
  font-family: champ;
  font-size: 2em;
  text-align: center;
 
  padding-left: 25%;
  width:30%; 
  height:70%;
  position: relative;
}

#valuePic{
  padding-top: 8%;
  padding-left: 0%;
  width: 49%;
  height: 50%;
  position: relative;
  float: left;
}


.kleur{
  color: white;
  font-family: champ;
  font-size: 2em;
  text-align: center;
 
  padding-left: 25%;
  width:30%; 
  height:70%;
  position: relative;

}
.typotext{
  color: white;
  font-family: champ;
  font-size: 2em;
  text-align: center;
  
  padding-left: 20%;
  width:50%; 
  height:70%;
  position: relative;
}
#Typo{
  color: white;
  font-family: champ;
  font-size: 2em;
  text-align: center;

  padding-left: 10%;
  width:60%; 
  height:70%;
  position: relative;
}

.game{
  color: white;
  font-family: champ;
  font-size: 2em;
  text-align: center;
  padding-top: 10%;
  padding-left: 15%;
  width:60%; 
  height:70%;
  position: relative;
}

.uex1{
  font-family: champ;
  font-size: 2em;
  text-align: center;

  padding-left: 15%;
  width:60%; 
  height:70%;
  position: relative;
}


/*einde sprint 1 */
/* sprint 3 */





/*einde sprint 3 */

.posters{
  color: white;
  font-family: champ;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  padding-left: 30%;
  width:30%; 
  height:70%;
  position: relative;

}

a{
  color: white;
  text-decoration: none;
  font-family: written;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 30ch;
  }

}

@font-face {
    font-family: romantisch;
    src: url(ltp/romantischpersonaluse.otf);
}  
  
@font-face {
    font-family: written;
    src: url(ltp/Jacquelyn.ttf);
}

@font-face {
    font-family: champ;
    src: url(ltp/ChampagneLimousines.ttf);
}