html {
  scroll-behavior: smooth;
}

body{
    background-color: black;

}

.wrap{
    position: relative;
    top: 0;

    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#ball{
    width: 60px;
    height: 60px;
    background: none;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -20px 0 0 -22px;
    pointer-events: none;
}
.container{
    position: relative;
    height: 90%;
    width: 30%;
    left: 40%;
 

}
.bodyImage{
    padding-top: 25%;
    height: 90%;
    width: 65%;
    opacity: 0.1;
    border: 1px white;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 38%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.container:hover .bodyImage {
    opacity: 0.5;
  }
  
.container:hover .middle {
    opacity: 0.1;
  }

.text {
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 32px;
    padding: 16px 32px;
  }

  .Welcome{
    position: absolute;
    left: 50%;
    padding-top: 60%;
    color: white;
    font-family: romantisch;
    font-size: 80px;
  }

  .logo{
    top: 0%;
    padding-top: 0%;
    height: 20%;
    width: 20%;
    position: absolute;
  }

  .rotated-logo {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }

  .menu{

    height: 70%;
    width: 100%;
  
    position: relative;
    font-size: 30px;
    margin: auto;
  } 

  .myself{
    top: 200%;
  }

  ul{
    padding-top: 5%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80%;
    position: relative;
  }

  ul li{
    list-style: none;

  }
  
  ul li a{
    display: block;
    text-decoration: none;
    height: 16vh;
    line-height: 10vh;
    box-sizing: border-box;
    font-size: 1.5em;
    border-bottom: 1px solid grey;
    color: #fff;

    font-family: silence;
  }

  ul li a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(0);
    overflow: hidden;
    text-align: center;
    line-height: 100vh; 
    font-size: 3.1em;
    color: white;
    font-weight: bold;
    font-family: silence;
  }

  ul li:nth-child(1) a:before{
    background-color: black;
  }
  ul li:nth-child(2) a:before{
    background-color: black;
  }
  ul li:nth-child(3) a:before{
    background-color: black;
  }
  ul li:nth-child(4) a:before{
    background-color: black;
  }
  ul li:nth-child(5) a:before{
    background-color: black;
  }
  ul li:nth-child(6) a:before{
    background-color: black;
  }

  ul li:hover a:before{
    transform: scale(1);
    
  }

  a{
    color: white;
    text-decoration: none;
  }

  section{
    margin: auto;
    position: relative;
    width: 100%;
    height:100%;
    top: 0;
  }
  
  @font-face {
    font-family: romantisch;
    src: url(ltp/romantischpersonaluse.otf);
  }  
  
  @font-face {
    font-family: written;
    src: url(ltp/Jacquelyn.ttf);
  }

  @font-face {
    font-family: silence;
    src: url(ltp/AnderellaDemo.ttf);
  }