body{
    background: url("/Img/bg.jpeg"); 
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

img{
    width: 160px;
    height: 160px;
    float: left;
    margin-right: 1%;
    
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.interface{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    margin: auto;
    border: 1px solid black;
    
}
.back{
    background-color: black;
    opacity: 0.5;
}

a:hover{
    background-color: white ;
    color: black;
}


.enemy{
    margin: auto;
    display: flex;
    justify-content: center; 
    border: 1px solid black;
    width: 25%;
    flex-wrap: wrap;
    background-color: black;
    color:white;

}

.enemy a:hover{
    background-color: darkred;

}

.btn-prefight {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;

	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:15px 21px;
	text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
    margin: auto;
    display: flex;
  justify-content: center;
}
.btn-prefight:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.btn-prefight:active {
	position:relative;
	top:1px;
}
