html{
    height: 100%;
}
body{
    font-size: 16px;
    color: #fff;
    background-image: url("img/IMG_6321.JPG");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 0;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

body:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;

}

section{
    display: inline-block;
    vertical-align: middle;
    padding: 100px;
    max-width: 500px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
}
